*{
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;   
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    /*28036a
     26589F
    */
    border-bottom:1px solid #26589F ;
    background-color: #28036a;
    color: white;
}
h1{
    margin-top: 10px;
    color: whitesmoke;
    font-size: 200%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-row-centered{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
button > img {
    max-height: 50px;
    max-width:50px;
    
}
main{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display-game{
    
    min-height: 300px;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.display-game > .player{
    display: flex;
    flex-direction: column-reverse;
    min-height: 50%; 
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 100%;
} 

.display-game > .player > p{
    margin: 10px;
} 
.player > .selections{
   
    min-width: 100%;
    max-width: 100%;
    background-color: blanchedalmond;
    min-height: 50%;
    
}


.display-game > .pc{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    
} 
aside > p {
    margin-top: 150px;
    margin: 20px;
}

.display-game > .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.buttons > .group-play-ui{
    
    min-width: 100%;
    gap: 15px;

}
.buttons > .group-game-ui{ 
   
    min-width: 100%;
    
}